<header
  class="fixed top-0 left-0 right-0 z-40 bg-white dark:bg-neutral-900 shadow-md text-lg"
>
  <div class="container mx-auto px-4">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center gap-2">
        <img
          src="/assets/images/hglabor.webp"
          alt="Logo"
          class="size-14 mb-3"
        />
        <span class="text-gray-800 dark:text-white jersey-10-regular text-3xl"
          >hglabor.de</span
        >
      </div>
      <nav class="flex items-center space-x-8">
        <a
          routerLink="/"
          class="text-gray-700 dark:text-gray-200 hover:text-[#1976D2] dark:hover:text-[#2196F3] transition-colors duration-200 jersey-10-regular"
        >
          Leaderboard
        </a>
        <a
          routerLink="/players"
          class="text-gray-700 dark:text-gray-200 hover:text-[#1976D2] dark:hover:text-[#2196F3] transition-colors duration-200 jersey-10-regular"
        >
          Players
        </a>
      </nav>
      <div class="flex items-center gap-2">
        <app-server-info></app-server-info>
        <app-theme-toggle></app-theme-toggle>
      </div>
    </div>
  </div>
</header>
