<header class="z-40 bg-white dark:bg-neutral-900 shadow-md text-lg">
  <div class="container mx-auto px-4">
    <div class="flex items-center justify-between h-16">
      <a routerLink="/" class="flex items-center gap-2">
        <img
          src="assets/images/hglabor.webp"
          alt="Logo"
          class="size-14 mb-3 pixelated"
        />
        <span class="text-gray-800 dark:text-white text-3xl">hglabor.de</span>
      </a>
      <nav class="flex items-center space-x-8 text-gray-700 dark:text-gray-200">
        <a
          routerLink="/"
          class="hover:text-[#1976D2] dark:hover:text-[#2196F3] transition-colors duration-200"
          >Leaderboard</a
        >
        <a
          routerLink="/players"
          class="hover:text-[#1976D2] dark:hover:text-[#2196F3] transition-colors duration-200"
          >Players</a
        >
      </nav>
      <div class="flex items-center gap-2">
        <app-server-info></app-server-info>
        <app-theme-toggle></app-theme-toggle>
      </div>
    </div>
  </div>
</header>
