@font-face {
  font-display: swap;
  font-family: "Jersey 10";
  font-style: normal;
  font-weight: 400;
  src: url("../../public/assets/fonts/jersey-10-v3-latin/jersey-10-v3-latin-regular.woff2")
      format("woff2"),
    url("../../public/assets/fonts/jersey-10-v3-latin/jersey-10-v3-latin-regular.ttf")
      format("truetype");
}
